<%= simple_form_for(@taxpayer) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :ird_no %>
    <%= f.input :old_ird_no %>
    <%= f.input :first_name %>
    <%= f.input :middle_name %>
    <%= f.input :last_name %>
    <%= f.input :address %>
    <%= f.input :entity_type %>
    <%= f.input :active_status %>
    <%= f.input :company_id, collection: Company.all %>
  </div>

  <div class="form-actions mt-2">
    <%= f.button :submit %>
  </div>
<% end %>
