<%= render 'shared/page_header', pre_title: "Overview", page_title: "All Companies", has_action: true, action_path: new_company_path, action_text: "New Company" %>

<div class="col-sm-6 col-lg-3 mb-4">
    <div class="card card-sm">
      <div class="card-body">
        <div class="row align-items-center">
          <div class="col-auto">
            <span class="bg-primary text-white avatar"><!-- Download SVG icon from http://tabler-icons.io/i/currency-dollar -->
              <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M16.7 8a3 3 0 0 0 -2.7 -2h-4a3 3 0 0 0 0 6h4a3 3 0 0 1 0 6h-4a3 3 0 0 1 -2.7 -2"></path><path d="M12 3v3m0 12v3"></path></svg>
            </span>
          </div>
          <div class="col">
            <div class="font-weight-medium">
              <%= Company.count %>
            </div>
            <div class="text-muted">
              Companies
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


<div class="card">
  <div class="table-responsive">
    <table class="table table-vcenter table-mobile-md card-table table-striped">
      <thead>
        <tr>
          <th>IRD No.</th>
          <th>Name</th>
          <th>Address</th>
          <th>Entity Type</th>
          <th>Active Status</th>
          <th> </th>
        </tr>
      </thead>
      
      <tbody>
        <% @companies.each do |company| %>
      <tr>
        <td> <%= company.ird_no %> </td>
        <td class="text-muted"><%= company.name %></td>
        <td class="text-muted"><%= company.address %></td>
        <td class="text-muted"><%= company.entity_type %></td>
        <td class="text-muted ">
          <% if company.activity_status == 'Active' %> 
            <span class="badge bg-success me-1"></span> 
          <% else %>
            <span class="badge bg-warning me-1"></span>
          <% end %>
          <%= company.activity_status %>
        </td>
        <td>
           <button class="btn dropdown-toggle align-text-top" data-bs-boundary="viewport" data-bs-toggle="dropdown" aria-expanded="false">Actions</button>
           <div class="dropdown-menu dropdown-menu-end" style="">
              <%= link_to 'View', company_path(company), class:'dropdown-item' %>
              <%= link_to 'Edit', edit_company_path(company), class:'dropdown-item' %>
              <%= link_to "Delete",  company_path(company),class:'dropdown-item',  method: :delete, data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } %>
            </div>
        </td>
      </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>